<header>
    <!-- CABEÇALHO -->
        <div class="container-grid position-header">
            <div class="header">
                <a href="">
                    <img class="joy" src="img/logo1.png" alt="joystick">
                </a>    
                <a href="">
                    <img class="logo" src="img/logoo.png" alt="GameMania">
                </a>    
            </div>    
            <div class="contato">
                <a href="">
                    <div class="phone"><img src="img/chamada-telefonica (2) 1.png" alt=""></div>
                </a>
                <a href="">
                    <div class="gmail"><img src="img/gmail (1) 1.png" alt=""></div>
                </a>      
            </div>
            <a href="#" id="barra">
                <img class="barra" src="C:\Users\admin\Desktop\FRONT-END\GameMania\img\bars-solid.svg" alt="">
            </a> 

            <!-- MENU-->
            <nav id="menu" class="menu">
                    <a href="index.html"><p class="letra">Home</p></a>
                    <!--Link para Index2.HTML-->
                    <a href="index2.html"><p class="letra">Acessórios</p></a>
                    <a href="camisetas.html"><p class="letra">Camisetas</p></a>
                    <!--Link para Index2.HTML-->
                    <a href="index4.html"><p class="letra">Novidades</p></a>
                    <a href="login/cadastro.html"><p class="letra">Login/Cadastro</p></a>
                    <a href="">
                        <form class="form-inline" action="/action_page.php">
                            <input class="search-txt" type="text" placeholder="Pesquisar...">
                            <img class="lupa" src="img/search.png" alt="">
                        </form>
                    </a>
            </nav>    
        </div>
    </header>    

    
    
    <!--BANNER-->

    <div id="carrossel" class="carrossel">
        <img src="C:\Users\admin\Desktop\FRONT-END\GameMania\img\banner4.png" alt="">
        <img src="C:\Users\admin\Desktop\FRONT-END\GameMania\img\banner2.png" alt="">
        <img src="C:\Users\admin\Desktop\FRONT-END\GameMania\img\banner3.png" alt="">
    </div>

    <!-- <div class="banner">
        <div class="container-banner">
            <a href="#"><img class="pride" src="C:\Users\admin\Desktop\FRONT-END\GameMania\img\geek.png" alt=""></a>
        </div>
    </div> -->

    <!--CONSOLES-->
    <div class="container2">
        <a href="pc.html"><img class="console" src="img/pc.png" alt="PC"></a>
        <a href="play.html"><img class="console" src="img/play5.png" alt=""></a>
        <a href="xbox.html"><img class="console" src="img/xbox.png" alt=""></a>
        <a href="nintendo.html"><img class="console" src="img/nintendo.png" alt=""></a>
    </div>

    <!--SEÇÃO GAMER-->
    <p class="gamer">G A M E R</p>    
    <ul class="container">
        <li>
            <a href="" class="link1"><p class="legenda">Placa de Vídeo Gainward <br> NVidia GeForce</p></a>
            <a href=""><img class="placa" src="img/placa de video.png" width="250"></a>
            <a href="" class="price"><p class="price">R$ 5.099,00</p></a>
        </li>
        <li>
            <a href="" class="link1"><p class="legenda">Cadeira Gamer Log Gaming</p></a>
            <a href=""><img class="cadeira" src="img/cadeira gamer.png" width="250"></a>
            <a href="" class="price"><p class="price">R$ 1.119,00</p></a>
        </li>
        <li>
            <a href="" class="link1"><p class="legenda">Headset Gamer Motospeed G750</p></a>
            <a href=""><img class="headset" src="img/headset gamer.png" width="250"></a>
            <a href="" class="price"><p class="price">R$ 129,00</p></a>
        </li>
        <li>
            <a href="" class="link1"><p class="legenda">Mouse Gamer Havit</p></a>
            <a href="" class="mouse"><img src="img/mouse gamer.png" width="250"></a>
            <a href="" class="price"><p class="price">R$ 99,00</p></a>
        </li>
    </ul>

    <a href="#" style="text-decoration: none;color: black;font-size:larger;align-items: center;"><p class="more">ver mais</p></a>


    <!-- SEÇÃO INFORMÁTICA -->
    <p class="info">I N F O R M Á T I C A</p>
    <ul class="container">
        <li>
            <a href="" class="link1"><p style="text-align: center; font-family: sans-serif;">Computador Desktop Login <br> Intel Core i3 9100 4gb ddr4 <br> ssd 240gb Windows 10</p></a>
            <a href=""><img src="img/desktop.png" alt=""></a>
            <a href="" style="text-decoration: none; color: black;"><p style="text-align: center;" class="desktop">R$ 5.299,00</p></a>
        </li>
        <li>
            <a href="" class="link1"><p style="text-align: center; font-family: sans-serif;">Nobreak TS Shara UPS Senoidal <br> Universal 3200va 2 Baterias Internas <br> Bivolt USB 4450</p></a>
            <a href=""><img class="nobreak" src="img/nobreak.png" alt=""></a>
            <a href="" style="text-decoration: none; color: black;"><p style="text-align: center;" class="price">R$ 1.199,00</p></a>
        </li>
        <!--Link para Index3.HTML-->
        <li>
            <a href="index3.html" class="link1"><p style="text-align: center; font-family: sans-serif;">Processador AMD Athlon 3000g <br> Dual Core 3 <br> 5 ghz Cache 5mb Am4</p></a>
            <a href="index3.html"><img src="img/processador.png" alt=""></a>
            <a href="index3.html" style="text-decoration: none; color: black;"><p style="text-align: center;" class="price">R$ 479,00</p></a>
        </li>
        <li>
            <a href="" class="link1"><p style="text-align: center; font-family: sans-serif;">Memoria 4gb ddr4 <br> 2666 Mhz Micron Cl19</p></a>
            <a href=""><img class="memoria" src="img/memoria.png" alt=""></a>
            <a href="" style="text-decoration: none; color: black;"><p style="text-align: center;" class="price">R$ 219,00</p></a>
        </li>
    </ul>

    <a href="#" style="text-decoration: none;color: black;font-size:larger;align-items: center;"><p class="more">ver mais</p></a>


    <!-- SEÇÃO PROMOÇÕES -->
    <p style="text-align: center;" class="promo">P R O M O Ç Õ E S</p>
    <ul class="container">
        <li>
            <p class="promo-game"><a href="#" style="text-decoration: none; color: black; ">BATTLEFIELD</a></p>    
            <a href=""><img src="img/battle.png" alt=""></a>
            <a href="" style="text-decoration: none;"><p class="preco">R$ 99,99</p></a>
        </li>
        
        <li>
            <p class="promo-game"><a href="#" style="text-decoration: none; color: black;">CS GO</a></p>
            <a href=""><img src="img/cs go.png" alt=""></a>
            <a href="" style="text-decoration: none;"><p class="preco">R$ 89,90</p></a>
        </li>
        
        <li>
            <p class="promo-game"><a href="#" style="text-decoration: none; color: black;">FORTNITE</a></p> 
            <a href=""><img src="img/fortnite.png" alt=""></a>
            <a href="" style="text-decoration: none;"><p class="preco">R$ 79,90</p></a>
        </li>

        <li>
            <p class="promo-game"><a href="#" style="text-decoration: none; color: black;">CALL OF DUTY</a></p>
            <a href="" class="call"><img class="cl" src="img/call.png" alt=""></a>
            <a href="" style="text-decoration: none;"><p class="preco">R$ 79,90</p></a>
        </li>

        <li>
            <p class="promo-game"><a href="#" style="text-decoration: none; color: black;">GOD OF WAR</a></p>
            <a href="" class="god"><img class="gd" src="img/gow.png" alt=""></a>
            <a href="" style="text-decoration: none;"><p class="preco">R$ 49,90</p></a>
        </li>    
    </ul>



    <!-- RODAPÉ -->
    <div>
        <div class="container-end">
            <div class="escr">
            <p class="escr"><a href="" class="escrito">Quem Somos</a></p>
            <p class="escr"><a href="" class="escrito">Trabalhe Conosco</a></p>
            <p class="escr"><a href="" class="escrito">Endereço</a></p>
            <p class="escr"><a href="" class="escrito">Anuncie Conosco</a></p>
            </div>     
        </div>
            <ul class="cards">
                <li><a href="#"><img class="pix" src="img/logo-do-pix-png-e-vetor-download-800x450 1.png" alt=""></a></li>
                <li><a href="#"><img class="visa" src="img/visa 1.png" alt=""></a></li>
                <li><a href="#"><img class="master" src="img/tool 1.png" alt=""></a></li>
                <li><a href="#"><img class="pay" src="img/money 1.png" alt=""></a></li>
            </ul>
        <section class="redes">Redes Sociais</section> 
            <ul class="logos">
                <li><a href="#"><img class="face" src="img/facebook 2.png" alt=""></a></li>
                <li><a href="#"><img class="insta" src="img/instagram 2.png" alt=""></a></li>
                <li><a href="#"><img class="whats" src="img/whatsapp 1.png" alt=""></a></li>
            </ul>      
    </div>