*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    margin-left: 350px;
}

.header {
    background-color: #218EF2;
    height: 96px;
    border-style: solid;
    border-color: black;
    width: 1349px;
}

.contato{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-left: 1130px;
    margin-top: -50px;
}

.phone{
    margin-left: 70px;
    margin-top: -5px;
    display: flex;
}

.gmail{
    margin-top: -7px;
    display: flex;
}

.barra{
    width: 25px;
    height: 55px;
    display: none;
    margin-inline: 445px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 30px;   
}

.menu{
    margin-block-start: 25px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

/* BANNER */

#carrossel img{
    display: none;
}
.banner-ativo{
    display: flex;
}


/* PESQUISAR */
.form-inline{
    display: flex;
    justify-content: space-between;
    margin: 16px;
    width: 60px;
    height: 25px;
}
.search-txt{
    width: 150px;
    margin-right: 10px;
    font-size: 15pt;
}
.lupa{
    display: flex;
    justify-content: space-between;
    margin: 1.5px;
}



.container2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.gamer{
    text-align: center;
    margin-top: 50px;
    font-size:xx-large;
}

.link1{
    text-decoration: none;
    color: black;
}





ul{
    width: 200px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-decoration: none;
    background-color: #fcfdff;
}

.container{
    display: flex;
    justify-content: space-between;
}

.legenda{
    font-family: sans-serif;
    margin-top: -8px;
    text-align: center;
}

.cadeira{
    height: 230px;
    font-family: sans-serif;
    margin-top: 30px;
}

.headset{
    margin-top: 10px;
} 
.mouse{
    margin-top: 10px;
}

.more{
    text-align: center;
    border-style: solid; 
    border-width: 1px; width: 80px; align-items: center;
    margin-left: 635px; border-radius: 5px; 
 }




.info{
    text-align: center;
    font-size: 20pt;
    margin-top: 80px;
}

.memoria .nobreak{
    margin-top: 9px;
}

.desktop{
    margin-top: -20px;
    color: #218EF2;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15pt;
    text-align: center;
}





.promo{
    font-size: 20pt;
    margin-top: 80px;
}

.promo-game{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.price{
    color: #218EF2;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15pt;
    text-align: center;
    text-decoration: none;
}




/*RODAPÉ*/
.container-end{
    background-color:#218EF2;
    font-family: sans-serif;
    width: 1349px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 25px;
}

.escr{
    margin-inline-start: 10px;
    margin-top: 4px;
    display: flex;
    width: 880px;   
}

.escrito{
    text-decoration: none;
    color: white;
}

.cards{
    width: 425px;
    height: 5px;
    display: flex;
    justify-content: space-around;
    margin-top: -80px;
    margin-left: 400px;
}

.pix, .visa, .master, .pay{
    height: 30px;
}

.redes{
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 15pt;
    margin-right: 80px;
    margin-top: -74px;
    color: white;
}

.logos{
    background-color: #218EF2;
    display: flex;
    justify-content:flex;
    width: 100px;
    margin-left: 1100px;
    margin-top: 10px;
}

.face{
    margin-top: 20px;
    margin-right: 3px;
    height: 40px;
}

.insta, .whats{
    height: 47px;
    margin-top: 18px;
    margin-right: 3px;
}


.preco{
    background-color: #218EF2;
    width: 80px; height: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 7px;
    color: white;
    font-family: sans-serif; font-style: oblique; font-weight: 800;
    margin: auto;
    margin-top: 5px;
}

















@media screen and (max-width: 1200px) {
    .header{
        width: 100%;
        height: 70px;
    }    
    .logo{
        width: 250px;
        align-items: center;
        display: flex;
        margin: auto;
        margin-top: -40px;
    }    
    .joy{
        width: 60px;
    }
    .menu, menu a{
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        top: 20px;
    }
    .phone, .gmail{
        display: none;
    }

   /* FALTA RESPONSIDADE DO BANNER */

    

    .ul{
        width: 100%;
        height: 40%;
    }

    .preco{
        margin: 0 auto;
        text-align: center;
        align-items: auto;
    }
    .console{
        max-width: 90%;
        margin: 0;
        margin-top: 15px;
    }

    
    .redes{
        display: none;
    }
    .escr, .escrito{
        position: relative;
        width: 95%;
    }
    .cards{
        background-color: #218EF2;
        width: 50%;
        margin: auto;
        margin-top: -60px;
    }
    
    .logos{
        background-color: white;
        align-items: center;
        width: 70%;
        height: 40%;
        display:flex;
        margin-left: 150px;
        margin-top: 60px;
    }



    /* CSS GRID */
    .container2{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        max-width: 768px;
        grid-gap: 10px;
        margin: 0 auto;
    }
    .container{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        max-width: 768px;
        grid-gap: 10px;
        margin: 0 auto;
    }

}





@media screen and (max-width: 768px){
    .position-header{
        width: 100%;
        height: 40px;
        position: relative;
    }
    .header{
        height: 45px;
    }
    .legenda{
        color: red;
    }
    .joy{
        width: 40px;
    }
    .logo{
        width: 200px;
        align-items: center;
        display: flex;
        padding: 10px;
    }
    .phone, .gmail{
        display: none;
    }
    .more{
        margin: auto;
    }
    .console{
        max-width: 90%;
        margin: 0;
        margin-top: 15px;
    }
    
    .barra{
        display: inline-block;
    }
    .menu{
        display: none;
        flex-direction: column;
        width: 260px;
        height: 270px;
        margin-left: 220px;
        position: absolute;
        background-color: chartreuse;
    }
    .menu a{
        text-align: left;
        text-justify: newspaper;
        padding: 0px
    }

    
    /* FALTA RESPONSIDADE DO BANNER */
    .menu-ativo{
        display: flex;
    }

    
    
    
    .letra{
        font-size: 20pt;
    }
    .form-inline{
        display: none;
    }
    
    
    .placa, .headset{
        width: 200px;
        height: 220px;
    }
    .cadeira {
        height: 210px;
    } 
    .gd, .cl{
        width: 220px;
        height: 260px;
    }
    
    .container-end{
        width: 100%;
        height: 100px;
    }
    .redes{
        display: none;
    }
    .escr, .escrito{
        position: relative;
        width: 95%;
    }
    .cards{
        background-color: #218EF2;
        width: 25%;
        margin: auto;
        margin-top: -35px;
    }
    
    .logos{
        background-color: white;
        align-items: center;
        width: 30%;
        height: 20%;
        display:flex;
        margin-left: 150px;
        margin-top: 30px;
    }
    
    
}